#!/bin/sh

if [ "${TERM%%-*}" = 'linux' ]; then
  color00="{{ user.config.terminal.color0 | regex_replace('^#(......)$', '\\1') }}"
  color01="{{ user.config.terminal.color1 | regex_replace('^#(......)$', '\\1') }}"
  color02="{{ user.config.terminal.color2 | regex_replace('^#(......)$', '\\1') }}"
  color03="{{ user.config.terminal.color3 | regex_replace('^#(......)$', '\\1') }}"
  color04="{{ user.config.terminal.color4 | regex_replace('^#(......)$', '\\1') }}"
  color05="{{ user.config.terminal.color5 | regex_replace('^#(......)$', '\\1') }}"
  color06="{{ user.config.terminal.color6 | regex_replace('^#(......)$', '\\1') }}"
  color07="{{ user.config.terminal.color7 | regex_replace('^#(......)$', '\\1') }}"
  color08="{{ user.config.terminal.color8 | regex_replace('^#(......)$', '\\1') }}"
  color09="{{ user.config.terminal.color9 | regex_replace('^#(......)$', '\\1') }}"
  color10="{{ user.config.terminal.color10 | regex_replace('^#(......)$', '\\1') }}"
  color11="{{ user.config.terminal.color11 | regex_replace('^#(......)$', '\\1') }}"
  color12="{{ user.config.terminal.color12 | regex_replace('^#(......)$', '\\1') }}"
  color13="{{ user.config.terminal.color13 | regex_replace('^#(......)$', '\\1') }}"
  color14="{{ user.config.terminal.color14 | regex_replace('^#(......)$', '\\1') }}"
  color15="{{ user.config.terminal.color15 | regex_replace('^#(......)$', '\\1') }}"
  
  # 16 color space
  echo -e "\e]P0$color00"
  echo -e "\e]P1$color01"
  echo -e "\e]P2$color02"
  echo -e "\e]P3$color03"
  echo -e "\e]P4$color04"
  echo -e "\e]P5$color05"
  echo -e "\e]P6$color06"
  echo -e "\e]P7$color07"
  echo -e "\e]P8$color08"
  echo -e "\e]P9$color09"
  echo -e "\e]PA$color10"
  echo -e "\e]PB$color11"
  echo -e "\e]PC$color12"
  echo -e "\e]PD$color13"
  echo -e "\e]PE$color14"
  echo -e "\e]PF$color15"
  if [ -x /sbin/clear ]; then 
    /sbin/clear
  else
    echo -e "\e[H"
    echo -e "\e[2J"
  fi
  
  # clean up
  unset color00
  unset color01
  unset color02
  unset color03
  unset color04
  unset color05
  unset color06
  unset color07
  unset color08
  unset color09
  unset color10
  unset color11
  unset color12
  unset color13
  unset color14
  unset color15 
else 
  color00="{{ user.config.terminal.color0 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color01="{{ user.config.terminal.color1 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color02="{{ user.config.terminal.color2 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color03="{{ user.config.terminal.color3 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color04="{{ user.config.terminal.color4 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color05="{{ user.config.terminal.color5 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color06="{{ user.config.terminal.color6 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color07="{{ user.config.terminal.color7 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color08="{{ user.config.terminal.color8 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color09="{{ user.config.terminal.color9 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color10="{{ user.config.terminal.color10 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color11="{{ user.config.terminal.color11 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color12="{{ user.config.terminal.color12 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color13="{{ user.config.terminal.color13 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color14="{{ user.config.terminal.color14 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color15="{{ user.config.terminal.color15 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  
  color16="{{ user.config.terminal.color16 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color17="{{ user.config.terminal.color17 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color18="{{ user.config.terminal.color18 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color19="{{ user.config.terminal.color19 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color20="{{ user.config.terminal.color20 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color21="{{ user.config.terminal.color21 | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  
  color_foreground="{{ user.config.terminal.foreground | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color_background="{{ user.config.terminal.background | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  color_cursor="{{ user.config.terminal.cursor | regex_replace('^#(..)(..)(..)$', '\\1/\\2/\\3') }}"
  
  if [ -n "$TMUX" ]; then
    # Tell tmux to pass the escape sequences through
    # (Source: http://permalink.gmane.org/gmane.comp.terminal-emulators.tmux.user/1324)
    printf_template='\033Ptmux;\033\033]4;%d;rgb:%s\033\033\\\033\\'
    printf_template_var='\033Ptmux;\033\033]%d;rgb:%s\033\033\\\033\\'
    printf_template_custom='\033Ptmux;\033\033]%s%s\033\033\\\033\\'
  elif [ "${TERM%%-*}" = "screen" ]; then
    # GNU screen (screen, screen-256color, screen-256color-bce)
    printf_template='\033P\033]4;%d;rgb:%s\033\\'
    printf_template_var='\033P\033]%d;rgb:%s\033\\'
    printf_template_custom='\033P\033]%s%s\033\\'
  else
    printf_template='\033]4;%d;rgb:%s\033\\'
    printf_template_var='\033]%d;rgb:%s\033\\'
    printf_template_custom='\033]%s%s\033\\'
  fi
  
  # 16 color space
  printf $printf_template 0  $color00
  printf $printf_template 1  $color01
  printf $printf_template 2  $color02
  printf $printf_template 3  $color03
  printf $printf_template 4  $color04
  printf $printf_template 5  $color05
  printf $printf_template 6  $color06
  printf $printf_template 7  $color07
  printf $printf_template 8  $color08
  printf $printf_template 9  $color09
  printf $printf_template 10 $color10
  printf $printf_template 11 $color11
  printf $printf_template 12 $color12
  printf $printf_template 13 $color13
  printf $printf_template 14 $color14
  printf $printf_template 15 $color15
  
  # 256 color space
  printf $printf_template 16 $color16
  printf $printf_template 17 $color17
  printf $printf_template 18 $color18
  printf $printf_template 19 $color19
  printf $printf_template 20 $color20
  printf $printf_template 21 $color21
  
  # clean up
  unset printf_template
  unset printf_template_var
  unset color00
  unset color01
  unset color02
  unset color03
  unset color04
  unset color05
  unset color06
  unset color07
  unset color08
  unset color09
  unset color10
  unset color11
  unset color12
  unset color13
  unset color14
  unset color15
  unset color16
  unset color17
  unset color18
  unset color19
  unset color20
  unset color21
  unset color_foreground
  unset color_background
  unset color_cursor
fi
