[general]
interval = 1
logging_level = ERROR
log_file = ~/.config/i3situation/log.txt

{% if user.config.i3.i3situation.modules is defined %}
{% for module in user.config.i3.i3situation.modules %}
[{{ module.name }}]
{% for k, v in module.iteritems() %}
{% if k != "name" %}
{{ k }} = {{ v | regex_replace('%', '%%') }}
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}
